.todo-app__table {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  background-color: white;
  box-shadow: var(--shadow);
}

.dark .todo-app__table {
  background-color: var(--dark-blue-600);
}

.todo-app__table .empty {
  padding: 1rem;
  font-size: 0.85rem;
  color: var(--blue-300);
  height: 100%;
}

.dark .todo-app__table .empty {
  color: var(--dark-blue-400);
}

.todo-app__table ul {
  flex: 1;
  overflow: auto;
}

.todo-app__filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .85rem;

  color: var(--blue-300);
  border-top: 1px solid var(--blue-100);
}

.dark .todo-app__filter {
  color: var(--dark-blue-400);
  border-color: var(--dark-blue-500);
}

.todo-app__filter p {
  font-size: 0.75rem;
}

.todo-app__filter button {
  background-color: transparent;
  border: none;
  color: var(--blue-300);
  font-weight: bold;
  font-size: .70rem;
  transition: 1s ease-out;
}

.dark .todo-app__filter button  {
  color: var(--dark-blue-300);
}

.dark .todo-app__filter .clear {
  color: var(--dark-blue-400);
}

.todo-app__filter button:not(.selected):hover {
  transition: 1s ease-in;
  color: var(--blue-400);
}

.dark .todo-app__filter button:not(.selected):hover {
  color: var(--dark-blue-200);
}

.todo-app__filter > div button:not(:last-child) {
  margin-right: .65rem;
}

.todo-app__filter > div .selected {
  color: var(--primary);
}